<body>
    <main>
        
        <div class="title">
            <h1>Lista de produtos</h1>
        </div>

        <div class="container">
            <app-adm-product-card 
                title="Camisa okley" 
                description="e uma camiseta da okley"
                price="R$ 50,00"
                marca="okley"
                nota="5"
                origem="São Paulo"
            />

            <app-adm-product-card 
                title="Camisa okley" 
                description="e uma camiseta da okley"
                price="R$ 50,00"
                marca="okley"
                nota="5"
                origem="São Paulo"
            />

            <app-adm-product-card 
                title="Camisa okley" 
                description="e uma camiseta da okley"
                price="R$ 50,00"
                marca="okley"
                nota="5"
                origem="São Paulo"
            />

            <app-adm-product-card 
                title="Camisa okley" 
                description="e uma camiseta da okley"
                price="R$ 50,00"
                marca="okley"
                nota="5"
                origem="São Paulo"
            />

            <app-adm-product-card 
                title="Camisa okley" 
                description="e uma camiseta da okley"
                price="R$ 50,00"
                marca="okley"
                nota="5"
                origem="São Paulo"
            />

            <app-adm-product-card 
                title="Camisa okley" 
                description="e uma camiseta da okley"
                price="R$ 50,00"
                marca="okley"
                nota="5"
                origem="São Paulo"
            />

            <app-adm-product-card 
                title="Camisa okley" 
                description="e uma camiseta da okley"
                price="R$ 50,00"
                marca="okley"
                nota="5"
                origem="São Paulo"
            />



        </div>

        <app-custom-button [buttonText]="'Adicionar novo'"  class="button"/>


    </main> 
</body>