<div class="card-container">

    <div class="text">
      <p>Name:</p>
      <p>{{ title }}</p>
    </div>
    
    <div class="text">
      <p>Description:</p>
      <p>{{ description }}</p>
    </div>

    <div class="text">
      <p>Marca:</p>
      <p>{{ marca }}</p>
    </div>

    <div class="text">
      <p>Nota:</p>
      <p>{{ nota }}</p>
    </div>

    <div class="text">
      <p>Origem:</p>
      <p>{{ origem }}</p>
    </div>

    <div class="text">
      <p>Unit Price:</p>
      <p>{{price }}</p>
    </div>
  
    <div class="icon-container">
      <span class="">
        <img src="../../../../assets/images/edit.png" alt="edit-icon"  (click)="redirecionarEditPage()" />
      </span>
      <span class="">
        <img src="../../../../assets/images/delete.png" alt="delete-icon" />
      </span>
    </div>
</div>
  