<body>

    <app-navbar></app-navbar>

    <main>
        <section class="container">
            <div class="left">
                
                <div class="containerImage">
                    <img src="../../../assets/images/shirt.png" />
                </div>
    
            </div>
            <div class="right">
                <div class="containerTexts">
    
                    <div class="titleOfProduct">
                        <p> {{ title }} </p>
                        <app-divisor></app-divisor>
                    </div>
        
                    <div class="description">
                        <p class="title">Descrição</p>
                        <p class="about">  {{ description }} </p>
                    </div>
    
                    <div class="buy">
                        <p class="price">  {{ price }} </p>

                        <div class="containerButtons">
                            <div class="quantity">
                                <p>-</p>
                                <p>1</p>
                                <p>+</p>
                            </div>
        
                            <app-custom-button [buttonText]="'Comprar'"/>
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
    </main>
</body>