<body>

    <app-navbar />
    
    <main>

        <div class="containerText">
            <h2>Lista de produtos: {{ categoria }} </h2>
        </div>


        <section class="productsCards">
            
            <app-product-card 
                title="Camiseta Oakley Mark II SS Masculina" 
                price="R$ 199,90" 
                (click)="redirecionarParaPdp()" 
            />

            <app-product-card 
                title="Camiseta Oakley Mark II SS Masculina" 
                price="R$ 199,90" 
                (click)="redirecionarParaPdp()" 
            />

            <app-product-card 
                title="Camiseta Oakley Mark II SS Masculina" 
                price="R$ 199,90" 
                (click)="redirecionarParaPdp()" 
            />

            <app-product-card 
                title="Camiseta Oakley Mark II SS Masculina" 
                price="R$ 199,90" 
                (click)="redirecionarParaPdp()" 
            />

            <app-product-card 
                title="Camiseta Oakley Mark II SS Masculina" 
                price="R$ 199,90" 
                (click)="redirecionarParaPdp()" 
            />

            <app-product-card 
                title="Camiseta Oakley Mark II SS Masculina" 
                price="R$ 199,90" 
                (click)="redirecionarParaPdp()" 
            />

        </section>
    </main>
</body>